.header {
  &.wrap {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;

    
    button {
      display: flex;
      align-items: center;
    }

    .dot {
      &.wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }

      p {
        color: rgba(50, 17, 15, 0.80);
        font-family: Pretendard Variable;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.32px;
      }

      .colorCount {
        border-radius: 12px;
        border: 1px solid rgba(50, 17, 15, 0.6);
        background: rgba(50, 17, 15, 0.1);
        display: flex;
        padding: 2px 8px;
        justify-content: center;
        align-items: center;
        gap: 2px;
        span {
          color: rgba(50, 17, 15, 0.8);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: -0.32px;
        }
      }
    }
  }
}

.hamburger {
  &.wrap {
    position: absolute;
    height: 720px;
    width: 75%;
    background-color: #fdf9ef;
    right: calc(-16px - 80%);
    top: -16px;
    z-index: 16;
    transition: 0.5s;
    padding: 16px;
    padding-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;


    &.active {
      right: -16px;
    }

    .title {
      display: flex;
      justify-content: space-between;
    }

    .linkWrap {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 50%;

      p {
        color: rgba(50, 17, 15, 0.80);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Pretendard Variable;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        cursor: pointer;

        &.disable {
          color: rgba(50, 17, 15, 0.40);
        }
      }
    }

    .infoWrap {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 50%;
      p {
        color: rgba(50, 17, 15, 0.40);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Pretendard Variable;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 19.5px */
        letter-spacing: -0.26px;
      }
    }

    .seasonWrap {
      margin-top: 50%;
      color: rgba(50, 17, 15, 0.40);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Pretendard Variable;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 19.5px */
      letter-spacing: -0.26px;
    }
  }

  &.dim {
    position: absolute;
    height: 720px;
    width: 360px;
    top: -16px;
    right: -16px;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    z-index: 15;

    &.active {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

